@font-face {
    font-family: Mohave;
    src: url("/res/Mohave.woff") format("woff");
}

/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url("/res/Lato.woff2") format("woff2"); */
/*}*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


#titleBar {
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: #2c3e50;
}

#title {
    color: white;
    max-width: 100%;
    font-size: 3em;
    text-align: center;
    font-family: Mohave;
}

#banner {
    width: 100%;
    height: 20em;
    display: table;
    background-color: #6fba98;
}

#basic-url {
    border: gray;
}

.bottom {
    display: table-cell;
    vertical-align: bottom;
    padding: 1em;
}

.full-width {
    width: 100%;
    text-align: center;
}

.space {
    width: 1em;
}

.content-holder {
    padding: 2em;
}

body {
    font-family: Lato, sans-serif;
    font-size: 18px;
}
