<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ">
  <link rel="stylesheet" href="/css/default.css">
  <script src="/js/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <title> Homepage </title>
</head>

<body>
  <nav id="titleBar" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div id="title" class="navbar-brand"> Homepage </div>
  </nav>
  <div id="banner">
    <div class="bottom">
      <div class="row">
        <div class="input-group col-md-2">
        </div>
        <div class="input-group col-md-8">
          <span class="input-group-addon" id="basic-addon3">
              https://pallav.xyz/
          </span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>
    </div>
  </div>
  <div class="content-holder">
    {{ .content }}

    <!--{{ $links := getlinks "site/_links.json" }}-->
    <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
      <!--{{ range $i, $val := $links }}-->
      <!--{{ $description := join (index $val "description") " " }}-->
      <!--<div class="card">-->
        <!--<div class="card-header" style="cursor: pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ $i }}" aria-expanded="true" aria-controls="collapse{{ $i }}" role="tab" id="heading{{ $i }}">-->
            <!--<span>-->
              <!--{{ index $val "link" | title }}-->
            <!--</span>-->
            <!--<span style="float: right">-->
              <!--<a id="openLink" href='{{ index $val "URL" }}' class="btn btn-secondary">-->
                <!--Open Link |&nearr;|-->
              <!--</a>-->
              <!--<script>-->
                <!--$(document).on("click", "#openLink", function(e){-->
                  <!--e.stopPropagation();-->
                <!--});-->
              <!--</script>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div id="collapse{{ $i }}" class="collapse {{ if (eq $i 0) }} show {{ end }}" role="tabpanel" aria-labelledby="heading{{ $i }}">-->
          <!--<div class="card-block">-->
            <!--<strong>Alias: </strong> https://pallav.xyz/{{ index $val "link" }} <br/>-->
            <!--<strong>URL: </strong> {{ index $val "URL" }} <br/>-->
            <!--<br/>-->
            <!--{{ join (index $val "description") " " }}-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--{{ end }}-->
    <!--</div>-->
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
<!-- vim:ts=2:sw=2:sts=2
  --!>
